pylint==3.3.3
pkce==1.0.3
cymem==2.0.11
w3lib==2.1.2
arrow==1.3.0
pydantic-settings==2.11.0
async-lru==2.0.4
python-slugify==5.0.2
black==24.8.0
aext-project-filebrowser-server==4.1.0
ply==3.11
marisa-trie==1.3.1
uri-template==1.3.0
docstring_parser==0.17.0
pyzotero==1.6.16
rfc3339-validator==0.1.4
appnope==0.1.3
executing==0.8.3
llama-index-readers-file==0.5.4
docstring-to-markdown==0.11
pycodestyle==2.12.1
text-unidecode==1.3
pandas==2.2.3
langchain-community==0.3.30
lazy_loader==0.4
nbconvert==7.16.4
tldextract==5.1.2
fqdn==1.5.1
decorator==5.1.1
importlib_metadata==8.5.0
Sphinx==7.3.7
requests==2.32.5
lckr_jupyterlab_variableinspector==3.1.0
pydeck==0.8.0b4
wordcloud==1.9.4
traitlets==5.14.3
language_data==1.3.0
tokenizers==0.22.1
holoviews==1.20.0
llama-index-indices-managed-llama-cloud==0.9.4
zstandard==0.23.0
scipy==1.16.1
mdit-py-plugins==0.3.0
nest-asyncio==1.6.0
pyarrow==21.0.0
pyasn1_modules==0.4.1
ujson==5.10.0
jaraco.classes==3.2.1
kiwisolver==1.4.8
pyproj==3.6.1
scikit-network==0.33.3
pyodbc==5.1.0
multipledispatch==0.6.0
Markdown==3.4.1
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
diskcache==5.6.3
multidict==6.1.0
ptyprocess==0.7.0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
pyobjc-core==10.1
isoduration==20.11.0
anaconda-cli-base==0.4.1
nltk==3.9.1
conda==25.7.0
queuelib==1.6.2
unicodedata2==15.1.0
lxml==5.3.0
tinycss2==1.2.1
jupyterlab==4.2.5
langchain-openai==0.3.33
GitPython==3.1.43
notebook==7.2.2
toml==0.10.2
fonttools==4.55.3
anaconda-client==1.13.0
filelock==3.13.1
ruamel.yaml.clib==0.2.8
pymilvus==2.6.2
cookiecutter==2.6.0
pytest==7.4.4
parso==0.8.4
scikit-learn==1.7.2
webencodings==0.5.1
colorama==0.4.6
openai==2.15.0
PyDispatcher==2.0.5
json5==0.9.25
python-lsp-jsonrpc==1.1.2
cloudpathlib==0.22.0
superqt==0.6.7
langchain==0.3.27
smart-open==5.2.1
numpydoc==1.7.0
zipp==3.21.0
intervaltree==3.1.0
Pygments==2.15.1
xarray==2024.11.0
entrypoints==0.4
pathspec==0.10.3
propcache==0.2.0
itemadapter==0.3.0
PyNaCl==1.5.0
aiobotocore==2.13.3
gurobipy==12.0.3
jupyter_server_terminals==0.4.4
flake8==7.1.1
autopep8==2.0.4
python-json-logger==3.2.1
aiohttp==3.11.10
astropy==6.1.3
defusedxml==0.7.1
slicer==0.0.8
distributed==2024.12.1
typer==0.9.0
PyGithub==2.4.0
stack-data==0.2.0
fastuuid==0.14.0
frozenlist==1.5.0
xlwings==0.32.1
langchain-core==0.3.76
datashader==0.16.3
semver==3.0.2
pyuca==1.2
openpyxl==3.1.5
pickleshare==0.7.5
cloudpickle==3.0.0
h5py==3.12.1
Jinja2==3.1.4
llama-index-workflows==2.11.1
Rtree==1.0.1
tomlkit==0.13.2
cryptography==43.0.3
aext-core-server==4.1.0
shapely==2.0.6
PyMuPDF==1.26.6
pytoolconfig==1.2.6
spacy-legacy==3.0.12
inflection==0.5.1
IProgress==0.4
locket==1.0.0
jellyfish==1.1.3
torch==2.8.0
msgpack==1.0.3
blinker==1.9.0
orjson==3.11.3
truststore==0.10.0
conda-pack==0.7.1
Flask==3.1.2
tqdm==4.66.5
wrapt==1.17.0
sympy==1.13.3
six==1.16.0
seaborn==0.13.2
frozendict==2.4.2
mypy-extensions==1.0.0
python-lsp-server==1.12.0
h11==0.14.0
qtconsole==5.6.0
plotly==5.24.1
wheel==0.44.0
streamlit==1.40.1
networkx==3.4.2
zope.interface==7.1.1
pip==25.3
gitdb==4.0.7
campy==0.0.1.dev19
evaluate==0.4.6
panel==1.5.3
jupyter-console==6.6.3
jedi==0.19.2
conda-repo-cli==1.0.137
ace_tools==0.0
QtPy==2.4.1
llama-index-cli==0.5.3
spacy-loggers==1.0.5
joblib==1.4.2
hyperlink==21.0.0
typing-inspect==0.9.0
zict==3.0.0
param==2.2.0
graphviz==0.20.3
geopandas==0.14.2
geopandas==1.0.1
numba==0.63.1
Unidecode==1.3.8
blis==1.3.0
menuinst==2.2.0
asttokens==2.0.5
isort==5.13.2
overrides==7.4.0
milvus-lite==2.5.1
yarl==1.18.0
itsdangerous==2.2.0
ruamel-yaml-conda==0.17.21
pytz==2024.1
annotated-types==0.6.0
libmambapy==2.0.5
httpcore==1.0.2
PySocks==1.7.1
jupytext==1.17.3
prometheus_client==0.21.0
catalogue==2.0.10
protobuf==6.32.1
Babel==2.11.0
rich==13.9.4
aext-panels==4.1.0
dmglib==0.9.5
psutil==5.9.0
urllib3==2.3.0
jupyterlab_widgets==3.0.13
readchar==4.0.5
pyct==0.5.0
feedparser==6.0.12
jupyter-events==0.10.0
jsonpatch==1.33
argon2-cffi==21.3.0
pyzmq==26.2.0
pkginfo==1.11.2
anaconda-project==0.11.1
folium==0.14.0
pyobjc-framework-FSEvents==10.1
gensim==4.3.2
applaunchservices==0.3.0
certifi==2025.8.3
tzdata==2023.3
asyncssh==2.17.0
jupyter-lsp==2.2.0
PyQt5==5.15.10
weasel==0.4.1
aext-core==4.1.0
sip==6.7.12
aext-toolbox==4.1.0
PyWavelets==1.8.0
wurlitzer==3.0.2
dirtyjson==1.0.8
anaconda-navigator==2.6.4
pyls-spyder==0.4.0
llama-index-instrumentation==0.4.2
markdown-it-py==2.2.0
lazy-object-proxy==1.10.0
pyviz_comms==3.0.2
ruamel.yaml==0.18.6
confection==0.1.5
sentence-transformers==5.1.1
pydantic==2.12.4
numpy==2.0.2
tenacity==9.0.0
cffi==1.17.1
intake==2.0.7
langsmith==0.4.31
jsonschema==4.23.0
linkify-it-py==2.0.0
sphinxcontrib-applehelp==1.0.2
aiosqlite==0.21.0
shap==0.47.1
nbformat==5.10.4
python-lsp-black==2.0.0
aioitertools==0.7.1
conda_package_streaming==0.11.0
pylint-venv==3.0.3
boltons==24.1.0
comm==0.2.1
pyasn1==0.6.1
imageio==2.33.1
appdirs==1.4.4
alabaster==0.7.16
llama-parse==0.6.54
imagecodecs==2024.9.22
httpx-sse==0.4.1
PyJWT==2.10.1
threadpoolctl==3.5.0
watchdog==4.0.1
dataclasses-json==0.6.7
atomicwrites==1.4.0
anaconda-anon-usage==0.5.0
multiprocess==0.70.16
sphinxcontrib-jsmath==1.0.1
thinc==8.3.6
llama-cloud-services==0.6.54
pycparser==2.21
hf-xet==1.1.10
constantly==23.10.4
diff-match-patch==20200713
pypdf==6.1.3
PyQtWebEngine==5.15.6
jupyter_core==5.7.2
pure-eval==0.2.2
python-dotenv==1.0.1
xxhash==3.5.0
pyparsing==3.2.0
conda-content-trust==0.2.0
conda-libmamba-solver==24.11.1
jmespath==1.0.1
nb_conda_kernels==2.5.2
platformdirs==4.5.0
conda-build==25.1.1
parsel==1.8.1
regex==2024.11.6
lz4==4.3.2
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
bokeh==3.6.0
pyobjc-framework-CoreServices==10.1
chardet==4.0.0
fsspec==2024.12.0
wandb==0.24.2
GDAL==3.6.2
ollama==0.6.0
rope==1.12.0
itemloaders==1.1.0
Deprecated==1.2.18
colorcet==3.1.0
tblib==1.7.0
iniconfig==1.1.1
matplotlib-inline==0.1.6
accelerate==1.11.0
langchain-ollama==0.3.10
s3fs==2024.12.0
setuptools==80.9.0
cligj==0.7.2
aext-shared==4.1.0
requests-file==1.5.1
notebook_shim==0.2.3
matplotlib==3.10.0
terminado==0.17.1
llama-index-llms-openai==0.6.7
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython-genutils==0.2.0
ipython==8.30.0
jupyter_client==8.6.0
altair==5.0.1
langchain-text-splitters==0.3.11
jupyter_server==2.14.1
psycopg2==2.9.10
murmurhash==1.0.13
xyzservices==2022.9.0
mccabe==0.7.0
sortedcontainers==2.4.0
cssselect==1.2.0
hvplot==0.11.2
aext-panels-server==4.1.0
fastjsonschema==2.20.0
packaging==24.2
sphinxcontrib-htmlhelp==2.0.0
widgetsnbextension==4.0.13
charset-normalizer==3.3.2
Automat==20.2.0
Bottleneck==1.4.2
binaryornot==0.4.4
shellingham==1.5.0
srsly==2.5.1
pydantic_core==2.41.5
mistune==2.0.4
Brotli==1.0.9
pillow==11.0.0
jupyter==1.0.0
striprtf==0.0.26
llama-index-readers-llama-parse==0.5.1
partd==1.4.2
typing_extensions==4.15.0
wasabi==1.1.3
Werkzeug==3.1.5
pycosat==0.6.6
toolz==1.0.0
navigator-updater==0.5.1
imagesize==1.4.1
langchain-huggingface==0.3.1
sphinxcontrib-qthelp==1.0.3
jupyterlab_server==2.27.3
dask-expr==1.1.21
appscript==1.2.5
qstylizer==0.2.2
PyQt5_sip==12.13.0
webcolors==24.11.1
dask==2024.12.1
pexpect==4.8.0
xlrd==2.0.1
incremental==22.10.0
yapf==0.40.2
smmap==4.0.0
astroid==3.3.8
ipywidgets==8.1.5
llama-cloud==0.1.35
idna==3.7
langcodes==3.5.0
bcrypt==3.2.0
aext-assistant-server==4.1.0
pluggy==1.5.0
dill==0.3.8
mapclassify==2.5.0
sphinxcontrib-serializinghtml==1.1.10
click-plugins==1.1.1
statsmodels==0.14.4
branca==0.6.0
mypy==1.14.1
tornado==6.4.2
archspec==0.2.3
scikit-image==0.24.0
distro==1.9.0
wcwidth==0.2.5
docutils==0.18.1
SQLAlchemy==2.0.37
jiter==0.10.0
bibtexparser==1.4.3
gurobi-machinelearning==1.5.5
pydocstyle==6.3.0
tables==3.10.1
pyerfa==2.0.1.4
python-docx==1.2.0
rfc3986-validator==0.1.1
tomli==2.0.1
conda_index==0.5.0
keyring==24.3.1
llvmlite==0.46.0
aext-assistant==4.1.0
huggingface-hub==0.35.1
jsonpointer==2.1
requests-toolbelt==1.0.0
contourpy==1.3.1
pyobjc-framework-Cocoa==10.1
transformers==4.57.1
Twisted==23.10.0
numexpr==2.10.1
referencing==0.30.2
imbalanced-learn==0.12.3
snowballstemmer==2.2.0
odfpy==1.4.1
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
whenever==0.9.2
py-cpuinfo==9.0.0
astropy-iers-data==0.2025.1.13.0.34.51
banks==2.2.0
PyYAML==6.0.2
httpx==0.28.1
rpds-py==0.22.3
attrs==24.3.0
sniffio==1.3.0
Protego==0.1.16
python-snappy==0.6.1
jupyterlab-pygments==0.1.2
Scrapy==2.12.0
litellm==1.80.15
et-xmlfile==1.1.0
conda-token==0.5.0+1.g2209e04
QtAwesome==1.3.1
whatthepatch==1.0.2
lmdb==1.6.2
llama-index-embeddings-openai==0.5.1
sgmllib3k==1.0.0
pyOpenSSL==24.2.1
anaconda-cloud-auth==0.7.2
filetype==1.2.0
more-itertools==10.3.0
libarchive-c==5.1
conda-package-handling==2.4.0
anaconda-catalogs==0.2.0
Mako==1.2.3
faiss-cpu==1.12.0
aiosignal==1.2.0
grpcio==1.75.1
bleach==6.2.0
nbclient==0.8.0
botocore==1.34.154
spyder-kernels==3.0.0
spyder==6.0.1
anyio==4.6.2
beautifulsoup4==4.12.3
aiohappyeyeballs==2.4.4
preshed==3.0.10
ipykernel==6.29.5
marshmallow==3.26.1
pycurl==7.45.4
llama-index-core==0.14.7
HeapDict==1.0.1
typing-inspection==0.4.2
fiona==1.10.1
three-merge==0.1.1
MarkupSafe==2.1.3
spacy==3.8.7
patsy==0.5.6
PyPDF2==3.0.1
safetensors==0.6.2
debugpy==1.8.11
datasets==4.1.1
griffe==1.14.0
pydotplus==2.0.2
tifffile==2024.12.12
pyogrio==0.10.0
cytoolz==1.0.1
emoji==2.15.0
greenlet==3.1.1
uc-micro-py==1.0.1
QDarkStyle==3.2.3
pyflakes==3.2.0
aext-share-notebook-server==4.1.0
click==8.1.7
instructor==1.11.3
ragas==0.3.5
tabulate==0.9.0
llama-index==0.14.7
cachetools==5.3.3
tiktoken==0.11.0
alembic==1.13.3
aext-share-notebook==4.1.0
sentry-sdk==2.18.0
websocket-client==1.8.0
textdistance==4.6.3
